<div class="card">
   
    <div class="card-body">
        <h2 class="card-title">Название:{{name}} </h2>
        <p class="card-text">Столица: {{capital}}</p>
        <p class="card-text">Население:{{population}} </p>
        <p class="card-text">Язык:{{languages}} </p>
        
    </div>

    <div class="flag">
        <img src="{{flag}}" alt="{{name}}">
    </div>

</div>